 /*==========================================*/
 /*CSS pour formulaire*/
 
 /*attention label element de type ligne... donc pas possible de définir la largeur*/
 /*necessaire de le transformer en element bloc...*/
 form label{
     width: 33%;
     display: inline-block;
     text-align: right;
     margin-right: 4px;
 }
 
 form input[type=text],
 form input[type=email],
 form textarea{
     width: 60%;
 }
 
 form input[type=submit],
 form input[type=reset] {
    border:0;
    background-color: #d9d9d9;
    padding: 10px 25px;
 }
 
 /*mise en forme spécifique des labels liés aux radiobutton et checkbox*/
 .choicelabel{
     width: 75px;
     text-align: left;
 }
 
 /*centrer les boutons*/
 form div {
     margin-top: 5px;
     width: 100%;
     text-align: center;
 }
 
 form fieldset {
     box-shadow: 1px 1px 12px #555;
 }