<div class="content">

  <div class="cont_box">
      <p><a href="">Paul</a> a écrit le JJ/MM/AAAA à HH:mm :</p>
     <div class="cont_txt">
    </div>
  </div>

  <div class="cont_box">
    <p><a href="">Paul</a> a écrit le JJ/MM/AAAA à HH:mm :</p>
    <div class="cont_txt">
    </div>
  </div>

  <div class="cont_box">
    <p><a href="">Paul</a> a écrit le JJ/MM/AAAA à HH:mm :</p>
    <div class="cont_txt">
    </div>
  </div>

  <div class="cont_box">
    <p><a href="">Jean</a> a écrit le JJ/MM/AAAA à HH:mm :</p>
    <div class="cont_txt">
    </div>
  </div>


</div>
